
<div class="bookshelf">
  <div class="bookshelf-container">
    <div class="cuboid">
      <div class="cuboid__face cuboid__face--top"></div>
      <div class="cuboid__face cuboid__face--bottom"></div>
      <div class="cuboid__face cuboid__face--left"></div>
      <div class="cuboid__face cuboid__face--right"></div>
      <div class="cuboid__face cuboid__face--front"></div>
      <div class="cuboid__face cuboid__face--back"></div>
      <div class="shelf" style="--shelf-y: 15;">
        <div class="shelf-face shelf-face--top"></div>
        <div class="shelf-face shelf-face--bottom"></div>
        <div class="shelf-face shelf-face--front"></div>
      </div>
      <div class="shelf" style="--shelf-y: 30;">
        <div class="shelf-face shelf-face--top"></div>
        <div class="shelf-face shelf-face--bottom"></div>
        <div class="shelf-face shelf-face--front"></div>
      </div>
      <div class="shelf" style="--shelf-y: 45;">
        <div class="shelf-face shelf-face--top"></div>
        <div class="shelf-face shelf-face--bottom"></div>
        <div class="shelf-face shelf-face--front"></div>
      </div>
      <div class="shelf" style="--shelf-y: 65;">
        <div class="shelf-face shelf-face--top"></div>
        <div class="shelf-face shelf-face--bottom"></div>
        <div class="shelf-face shelf-face--front"></div>
      </div>
      <div class="shelf" style="--shelf-y: 80;">
        <div class="shelf-face shelf-face--top"></div>
        <div class="shelf-face shelf-face--bottom"></div>
        <div class="shelf-face shelf-face--front"></div>
      </div>
    </div>

    <div class="frame-bar frame-bar--top"></div>
    <div class="frame-bar frame-bar--bottom"></div>
    <div class="frame-bar frame-bar--left"></div>
    <div class="frame-bar frame-bar--right"></div>
  </div>
</div>
