<div *ngIf="user" class="settings-flex-row">
  <!-- Left column: two custom boxes stacked vertically -->
  <div class="settings-left-col">
  <div class="profile-picture-box">
    <img
      [src]="user.profilePictureUrl || 'assets/images/profile-pictures/BlueKidDragon.svg'"
      alt="Profilbild"
      class="profile-picture-img"
    />
    <!-- Profile picture selection, only in edit mode -->
    <div *ngIf="editMode" class="profile-picture-selection">
      <label>Välj profilbild:</label>
      <div class="profile-picture-options">
        <img
          *ngFor="let pic of profilePictures"
          [src]="pic"
          [class.selected]="user.profilePictureUrl === pic"
          (click)="selectProfilePicture(pic)"
          class="profile-picture-option"
          alt="Profilbild val"
        />
      </div>
    </div>
  </div>
    <div class="bio-box">
      <div class="bio-label"><strong>Bio:</strong></div>
      <div class="bio-content">{{ user.bio || 'Ingen bio tillagd.' }}</div>
    </div>
  </div>
  <!-- Right column: rest of the form (unchanged) -->
  <div class="settings-right-col">
    <div class="settings-actions">
      <button class="btn btn-primary" (click)="editMode = !editMode">
        {{ editMode ? 'Avbryt' : 'Ändra inställningar' }}
      </button>
    </div>
    <div class="form-group">
      <label>Användarnamn</label>
      <input class="form-control readonly-field" [value]="user.userName" readonly tabindex="-1">
    </div>
    <div class="form-group">
      <label>Förnamn</label>
      <input class="form-control"
             [readonly]="!editMode"
             [(ngModel)]="user.firstName"
             name="firstName">
    </div>
    <div class="form-group">
      <label>Efternamn</label>
      <input class="form-control"
             [readonly]="!editMode"
             [(ngModel)]="user.lastName"
             name="lastName">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control readonly-field" [value]="user.email" readonly tabindex="-1">
    </div>
    <div class="form-group" *ngIf="!changePasswordMode">
      <label>Lösenord</label>
      <input class="form-control" type="password" value="********" disabled>
      <button *ngIf="editMode" class="btn btn-link" (click)="changePasswordMode = true">Byt lösenord</button>
    </div>
    <div *ngIf="changePasswordMode">
      <div class="form-group">
        <label>Nuvarande lösenord</label>
        <input class="form-control" type="password" [(ngModel)]="oldPassword">
      </div>
      <div class="form-group">
        <label>Nytt lösenord</label>
        <input class="form-control" type="password" [(ngModel)]="newPassword">
      </div>
      <div class="form-group">
        <label>Bekräfta nytt lösenord</label>
        <input class="form-control" type="password" [(ngModel)]="confirmPassword">
      </div>
      <button class="btn btn-success" (click)="submitPasswordChange()">Spara nytt lösenord</button>
      <button class="btn btn-link" (click)="changePasswordMode = false">Avbryt</button>
    </div>
    <div *ngIf="editMode" class="settings-actions">
      <button class="btn btn-success" (click)="submitNameChange()">Spara namnändringar</button>
    </div>
  </div>
</div>