<div class="table-container">
  <div class="table-header-wrapper">
    <div class="row table-header-row">
      <div class="col-1 col-1-lg-1 col-1-md-1 col-1-sm-1 col-1-xs-1 table-header-s">
        <p>Omslag</p>
      </div>
      <div class="col-2 col-2-lg-2 col-2-md-2 col-2-sm-2 col-2-xs-2 table-header">
        <p>Titel</p>
      </div>
      <div class="col-2 col-2-lg-2 col-2-md-2 col-2-sm-2 col-2-xs-2 table-header">
        <p>Författare</p>
      </div>
      <div class="col-2 col-2-lg-2 col-2-md-2 col-2-sm-2 col-2-xs-2 table-header">
        <p>Genre</p>
      </div>
      <div class="col-2 col-2-lg-2 col-2-md-2 col-2-sm-2 col-2-xs-2 table-header">
        <p>Boktyp</p>
      </div>
      <div class="col-2 col-2-lg-2 col-2-md-2 col-2-sm-2 col-2-xs-2 table-header">
        <p>Status</p>
      </div>
      <div class="col-1 col-1-lg-1 col-1-md-1 col-1-sm-1 col-1-xs-1 table-header-s">
        <p>Betyg</p>
      </div>
    </div>
  </div>
    <div class="table-scrollable-body"></div>
      <div *ngFor="let book of books" class="row book-row" (click)="onBookRowClick(book, $event)">
        <div class="col-1 col-1-lg-1 col-1-md-1 col-1-sm-1 col-1-xs-1 table-cell-s">
          <img 
            [src]="book.coverImagePath ? book.coverImagePath : 'assets/images/book-covers/BrownBook.svg'" 
            alt="Omslag" 
            width="40" 
            height="60"
          />
        </div>
        <div class="col-2 table-cell">{{ book.title }}</div>
        <div class="col-2 table-cell">{{ book.author }}</div>
        <div class="col-2 table-cell">{{ genreOptions.displayNames[book.genre] || book.genre }}</div>
        <div class="col-2 table-cell">{{ bookTypeOptions.displayNames[book.bookType] }}</div>
        <div class="col-2 table-cell">{{ bookStatusOptions.displayNames[book.bookStatus] }}</div>
        <div class="col-1 table-cell-s ">{{ book.reviews?.length }}</div>
    </div>
</div>

