<div class="scene">

    <div class="book-space"> 
<div
  class="book"
  [ngStyle]="styleVars"
>
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face left"></div>   
    <div class="face spine"><p>{{ title }}</p></div>
    <div class="face top"></div>
    <div class="face bottom"></div> 
  </div>
  </div>
</div>

   <!-- <div class="book-space">
    <div class="book5">
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face left"></div>   
    <div class="face spine"><p>Fantasy</p></div>
    <div class="face top"></div>
    <div class="face bottom"></div> 
  </div>
  </div>
     <div class="book-space">
    <div class="book4">
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face left"></div>   
    <div class="face spine"><p>Fantasy</p></div>
    <div class="face top"></div>
    <div class="face bottom"></div> 
  </div>
  </div>
   <div class="book-space">
    <div class="book3">
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face left"></div>   
    <div class="face spine"><p>Fantasy</p></div>
    <div class="face top"></div>
    <div class="face bottom"></div> 
  </div>
  </div>
  <div class="book-space">
  <div class="book2">
    <div class="face front"></div>
    <div class="face back"></div>
    <div class="face left"></div>   
    <div class="face spine"><p>Fantasy</p></div>
    <div class="face top"></div>
    <div class="face bottom"></div> 
    </div>
  </div> -->