<div class="admin-table-container">
  <div class="table-header-wrapper">
        <div class="row table-header-row">
    <div class="table-header-s">Id</div>
    <div class="table-header-s">Titel</div>
    <div class="table-header-s">Författare</div>
    <div class="table-header-s">Genre</div>
    <div class="table-header-s">Boktyp</div>
    <div class="table-header-s">Publiceringsår</div>
    <div class="table-header-s">Beskrivning</div>
    <div class="table-header-s">Status</div>
    <div class="table-header-s">Actions</div>
  </div>
  </div>
      <div class="table-scrollable-body">
  <div *ngFor="let book of books" class="row book-row">
    <div class="table-cell-s">
        <span *ngIf="!editBook || editBook.bookId !== book.bookId">{{ book.bookId }}</span>
      </div>
      <div class="col-2 table-cell-s">
        <input *ngIf="editBook && editBook.bookId === book.bookId" [(ngModel)]="editBook.title" />
      <span *ngIf="!editBook || editBook.bookId !== book.bookId">{{ book.title }}</span>
    </div>
    <div class="col-2 table-cell-s">
      <input *ngIf="editBook && editBook.bookId === book.bookId" [(ngModel)]="editBook.author" />
      <span *ngIf="!editBook || editBook.bookId !== book.bookId">{{ book.author }}</span>
    </div>
    <div class="col-2 table-cell-s">
      <select *ngIf="editBook && editBook.bookId === book.bookId"
              [(ngModel)]="editBook.genre"
              name="genre-{{book.bookId}}">
        <option *ngFor="let genre of genreOptions" [value]="genre">
          {{ GenreDisplayNames[genre] }}
        </option>
      </select>
      <span *ngIf="!editBook || editBook.bookId !== book.bookId">
        {{ GenreDisplayNames[book.genre] || book.genre }}
      </span>
    </div>
    <div class="table-cell-s">
      {{ BookTypeDisplayNames[book.bookType] }}
    </div>
    <div class="table-cell-s">
      <input *ngIf="editBook && editBook.bookId === book.bookId" [(ngModel)]="editBook.publicationYear" />
      <span *ngIf="!editBook || editBook.bookId !== book.bookId">{{ book.publicationYear }}</span>
    </div>
    <div class="table-cell-s">
      <input *ngIf="editBook && editBook.bookId === book.bookId" [(ngModel)]="editBook.bookDescription" />
      <span *ngIf="!editBook || editBook.bookId !== book.bookId">{{ book.bookDescription }}</span>
    </div>
    <div class="table-cell-s">
      <select *ngIf="editBook && editBook.bookId === book.bookId"
              [(ngModel)]="editBook.bookStatus"
              name="status-{{book.bookId}}">
        <option *ngFor="let status of bookStatuses" [value]="status">
          {{ BookStatusDisplayNames[status] }}
        </option>
      </select>
      <span *ngIf="!editBook || editBook.bookId !== book.bookId">
        {{ BookStatusDisplayNames[book.bookStatus] }}
      </span>
    </div>
    <div class="table-cell-s">
      <button *ngIf="!editBook || editBook.bookId !== book.bookId" class="btn-delete" (click)="deleteBook(book.bookId)">
        <i class="bi bi-trash"></i>
      </button>
      <button *ngIf="editBook && editBook.bookId === book.bookId" class="btn-save" (click)="saveBook(editBook)">
        <i class="bi bi-floppy"></i>
      </button>
      <button *ngIf="editBook && editBook.bookId === book.bookId" class="btn-cancel" (click)="cancelEdit()">
        <i class="bi bi-x-circle"></i>
      </button>
      <button *ngIf="!editBook || editBook.bookId !== book.bookId" class="btn-edit" (click)="editBookDetails(book)">
        <i class="bi bi-pen"></i>
      </button>
      <button *ngIf="!editBook || editBook.bookId !== book.bookId" class="btn-delete" (click)="deleteBook(book.bookId)">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</div>