/* 
body {
  padding: 0;
  margin: 0;
}

.user-sign-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  width: 150px;
}

.user-sign {
  position: relative; 
  width: 100%;
  height: 820px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.sign-container {
  width: calc(100% - 2 * var(--frame-thickness));
  height: calc(var(--height) - 2 * var(--frame-thickness));
  perspective: 500px;
box-shadow:
  inset 0px 2px 3px rgba(0,0,0,0.7);
  background: 
    url('/assets/images/webpage-images/backgrounds/darkerwoodbg.png'), #b68e72;
  background-size: 150%, contain;
  background-repeat: no-repeat;
  background-position: top center;
} */

.frame-bar {
  position: absolute;
  box-shadow: none;
  
}
.frame-bar--top,
.frame-bar--bottom {
  width: calc(100% + 2 * var(--frame-thickness));
  height: var(--frame-thickness);
  left: calc(-1 * var(--frame-thickness));
  position: absolute;
  z-index: 2;
}

.frame-bar--top {
  top: calc(-1 * var(--frame-thickness));
    background:
    linear-gradient(rgba(32, 15, 0, 0.5), rgba(89, 43, 0, 0.5)), /* semi-transparent overlay */
    url('/assets/images/webpage-images/frames/framebordertop.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;

  clip-path: polygon(
    1 0, var(--frame-thickness) 100%, 
    calc(100% - var(--frame-thickness)) 100%, 100% 0
  );
  box-shadow: 0 10px 40px 0 rgba(0,0,0,1);
  overflow: hidden;
}

.frame-bar--bottom {
  top: var(--height);
    background:
    linear-gradient(rgba(32, 15, 0, 0.5), rgba(89, 43, 0, 0.5)), /* semi-transparent overlay */
    url('/assets/images/webpage-images/frames/frameborderbott.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  clip-path: polygon(
    1 100%, var(--frame-thickness) 0, 
    calc(100% - var(--frame-thickness)) 0, 100% 100%
  );
}

.frame-bar--left,
.frame-bar--right {
  width: var(--frame-thickness);
  height: calc(var(--height) + 2 * var(--frame-thickness));
  top: calc(-1 * var(--frame-thickness));
  position: absolute;
  z-index: 3;
}

.frame-bar--left {
  left: calc(-1 * var(--frame-thickness));
        background:
    linear-gradient(rgba(169, 116, 79, 0.5), rgba(169, 116, 79, 0.5)), /* semi-transparent overlay */
    url('/assets/images/webpage-images/frames/frameborderleft.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  clip-path: polygon(
    0 0, 100% var(--frame-thickness), 
    100% calc(100% - var(--frame-thickness)), 0 100%
  );
  
}

.frame-bar--right {
  left: 100%;
  background:
    linear-gradient(rgba(138, 95, 64, 0.5), rgba(138, 95, 64, 0.5)), /* semi-transparent overlay */
    url('/assets/images/webpage-images/frames/frameborderright.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  clip-path: polygon(
    100% 0, 0 var(--frame-thickness), 
    0 calc(100% - var(--frame-thickness)), 100% 100%
  );
}
/* 
.user-nav-absolute {
  position: absolute; 

  width: calc(100% - 2 * var(--frame-thickness));
  height: calc(100% - 2 * var(--frame-thickness));
  display: flex;
  justify-self: center;
  align-self: center;
} */