
body {
  padding: 0;
  margin: 0;
}

.user-sign {
  width: var(--width);
  height: var(--sign-height);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.sign-container {
  width: calc(var(--width) - 2 * var(--frame-thickness));
  height: calc(var(--sign-height) - 2 * var(--frame-thickness));
  perspective: 500px;
  box-shadow: 0 8px 32px rgba(60,40,20,1);
  background: 
    url('/assets/images/webpage-images/backgrounds/velvet.png'),
    var(--red-dragon-color);
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: center;
}

.frame-bar {
  position: absolute;
  box-shadow: none;
  
}
.frame-bar--top,
.frame-bar--bottom {
  width: calc(var(--width) + 2 * var(--frame-thickness));
  height: var(--frame-thickness);
  left: calc(-1 * var(--frame-thickness));
  position: absolute;
  z-index: 2;
}

.frame-bar--top {
  top: calc(-1 * var(--frame-thickness));
    background:
    linear-gradient(rgba(32, 15, 0, 0.5), rgba(89, 43, 0, 0.5)), /* semi-transparent overlay */
    url('/assets/images/webpage-images/frames/framebordertop.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;

  clip-path: polygon(
    1 0, var(--frame-thickness) 100%, 
    calc(100% - var(--frame-thickness)) 100%, 100% 0
  );
  box-shadow: 0 10px 40px 0 rgba(0,0,0,1);
  overflow: hidden;
}

.frame-bar--bottom {
  top: var(--sign-height);
    background:
    linear-gradient(rgba(32, 15, 0, 0.5), rgba(89, 43, 0, 0.5)), /* semi-transparent overlay */
    url('/assets/images/webpage-images/frames/frameborderbott.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  clip-path: polygon(
    1 100%, var(--frame-thickness) 0, 
    calc(100% - var(--frame-thickness)) 0, 100% 100%
  );
}

.frame-bar--left,
.frame-bar--right {
  width: var(--frame-thickness);
  height: calc(var(--sign-height) + 2 * var(--frame-thickness));
  top: calc(-1 * var(--frame-thickness));
  position: absolute;
  z-index: 3;
}

.frame-bar--left {
  left: calc(-1 * var(--frame-thickness));
        background:
    linear-gradient(rgba(169, 116, 79, 0.5), rgba(169, 116, 79, 0.5)), /* semi-transparent overlay */
    url('/assets/images/webpage-images/frames/frameborder.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  clip-path: polygon(
    0 0, 100% var(--frame-thickness), 
    100% calc(100% - var(--frame-thickness)), 0 100%
  );
  
}

.frame-bar--right {
  left: var(--width);
  background:
    linear-gradient(rgba(138, 95, 64, 0.5), rgba(138, 95, 64, 0.5)), /* semi-transparent overlay */
    url('/assets/images/webpage-images/backgrounds/frameright.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  clip-path: polygon(
    100% 0, 0 var(--frame-thickness), 
    0 calc(100% - var(--frame-thickness)), 100% 100%
  );
}

.user-nav-absolute {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-self: center;
  flex-direction: column;
}