<div class="admin-nav-toggle-row" *ngIf="!adminNavOpen">
<button
  (click)="toggleNav()"
  class="admin-nav-toggle-closed"
  aria-label="Öppna användarmeny"
>
  <i class="bi bi-person-badge-fill"></i>
</button>
</div>
<!-- Backdrop -->
<div *ngIf="adminNavOpen" class="admin-nav-backdrop" (click)="toggleNav()"></div>

<!-- Overlay Menu -->
<nav *ngIf="adminNavOpen" class="admin-nav-overlay">
  <button (click)="toggleNav()" class="icon-btn admin-nav-toggle" aria-label="Stäng meny">
    <i class="bi bi-person-badge-fill"></i>
    <span class="nav-label">Stäng meny</span>
  </button>

  <a [routerLink]="'/admin/manage-books'" [class.active]="isActive('/messages')" class="icon-btn">
    <i class="bi bi-envelope-fill"></i>
    <span class="nav-label">Hantera böcker</span>
  </a>

  <a [routerLink]="'/admin/manage-users'" [class.active]="isActive('/settings')" class="icon-btn">
    <i class="bi bi-gear-fill"></i>
    <span class="nav-label">Hantera användare</span>
  </a>

  <!-- <a [routerLink]="'/admin/settings'" [class.active]="isActive('/settings')" class="icon-btn">
    <i class="bi bi-heart-fill"></i>
    <span class="nav-label">Inställningar</span>
  </a> -->
</nav>
