.register-user-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 20px;
  background-color: var(--background-beige);
}
.register-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--input-background);
}
.label-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.label-input-container label {
  margin-bottom: 4px;

  color:black;
}
.label-input-container input,
.label-input-container textarea,
.label-input-container select {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--input-background);

  color:(var(--input-text));
}