.main-header-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-container{
  display: flex;
  align-items: center;
  gap: 16px;
  
}
nav {
    display: flex;
    gap: 16px;
    background-color: var (--background-dark);
  margin-left: auto;
  }
  nav i {
  font-size: 1.5em;
    vertical-align: middle;
}
  nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
  }
  nav a.active i {
  color: #1a1107; /* any color you want for the active icon */
}
  nav a:hover {
    background-color: var(--background-light);
  }
app-user-nav {
  display: flex;
  align-items: center;
}
app-web-icon {
  width: 50px;
  height: 50px;
  display: inline-block; /* Add this for good measure */
}
/* nav a:first-child {
  margin-right: 150px; /* Adjust as needed 
} */
