<div class="main-header-row">
  <div class="nav-container">
    <nav>
      <a class="nav-first-link" routerLink="/home" [class.active]="currentUrl.includes('/home')">
        <app-web-icon
          icon="home-cutout">
        </app-web-icon>
      </a>
      <a routerLink="/library" [class.active]="currentUrl.includes('/library')">
        <app-web-icon
          icon="library"
          [iconColor1]="'#ffffff'">
        </app-web-icon>
      </a>
      <!-- <app-admin-nav *ngIf="isAdmin" [currentUrl]="currentUrl"></app-admin-nav> -->
    </nav>
    <app-user-nav
      [currentUrl]="currentUrl"

      [user]="currentUser">
    </app-user-nav>
  </div>
</div>