<div class="main-header-row">
  <div class="nav-container">
    <nav>
      <a class="nav-first-link" routerLink="/home" [class.active]="currentUrl.includes('/home')"><i class="fa-solid fa-house"></i></a>
      <a routerLink="/library" [class.active]="currentUrl.includes('/library')"><i class="fa-solid fa-book-open"></i></a>
      <!-- <app-admin-nav *ngIf="isAdmin" [currentUrl]="currentUrl"></app-admin-nav> -->
    </nav>
    <app-user-nav [currentUrl]="currentUrl"></app-user-nav>
  </div>
</div>