<h1>Reservationer</h1>
<div *ngIf="readList?.length; else noReservations">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Boktitel</th>
        <th>Författare</th>
        <th>Tillagd i läslista</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let readList of readList">
        <td>{{ readList.book?.title }}</td>
        <td>{{ readList.book?.author }}</td>
        <td>{{ readList.createdAt | date:'yyyy-MM-dd' }}</td>
        <td>
        
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noReservations>
  <div>Inga reservationer.</div>
</ng-template>