.sign {
  top: -15px;
  position: relative;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 11;
  background: url('/assets/images/webpage-images/hangingsign.png') center top no-repeat;
  background-size: 400px 300px; /* wider, height auto */
}

.img-sign {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
.img-logo {
  top: 20px;
  justify-self: center;
  align-self: center;
  width: 130px;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.sign-info {
  top: 40px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* enable absolute positioning for children */
  gap: 0; /* remove gap so they can overlap */
}

.sign-title {
  position: absolute;
  top: -15px;      /* adjust this value to move the icon lower */
  z-index: 2;     /* higher than .img-logo */
  font-size: 20px;
}

.sign-text{
    position: relative;
    font-size: 14px;
    font-style: italic;
    z-index: 2;
}
::ng-deep app-web-icon.sign-icon svg {
  width: 170px;
  height: auto;
  display: block;
  margin: 0 auto;
}