<div class="shelf-container">
  <div class="header-container">
    <!-- Header sign on top, absolutely positioned -->
    <!-- <div class="header-sign position-absolute w-100" style="z-index: 20">
      <app-header-sign></app-header-sign>
    </div> -->

    <!-- Main content row -->

      <div class="header-background">
        <app-bookshelf></app-bookshelf>
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 bookshelf-container">
          <div class="row nav-row">
          <div class="left-bar"></div>
          <div class="col-10 col-lg-10 col-md-12 col-sm-12 nav-container">
            <app-nav class="nav-right"></app-nav>
          </div>
          <div class="right-bar">
          <div class="col-2 col-lg-2 col-md-12 col-sm-6 sign-container">
            <div
              class="user-nav-sign" >
              <app-user-sign
                (navOpenChange)="userNavOpen = $event"
              ></app-user-sign>
               <app-admin-nav *ngIf="isAdmin" [currentUrl]="currentUrl"></app-admin-nav>
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

