<div class="header-sign">
  <app-header-sign></app-header-sign>
</div>
<div class="header-container">
<div class="header-background">
  <app-bookshelf></app-bookshelf>

  <!-- <div class="scroll-banner"> -->
    <!-- <img src="assets/images/webpage-images/banners/scroll-left.png" alt="Scroll Left" class="scroll-corner left"> -->
    <!-- <div class="scroll-middle-color"></div> -->
  <div class="header-inner"></div>

    <div class="scroll-item-container">
      <app-nav class="nav-right"></app-nav>
    </div>
    
    <!-- <img src="assets/images/webpage-images/banners/scroll-left.png" alt="Scroll Right" class="scroll-corner right"> -->
  </div>

</div>
    <div class="user-nav-sign">
    <app-user-sign></app-user-sign>
  </div>



<!-- </div> -->